extends layout

block content
  button#btn_start.btn.btn-primary(type="button") Start
  button#btn_end.btn.btn-primary(type="button") End
  br
  //TODO this is not working within boostrap, I will invetigate later
  //.dropdown
  //  button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") History Period
  //  .dropdown-menu(aria-labelledby="dropdownMenuButton")
  //    a.dropdown-item(href="#") Last 10 days
  //    a.dropdown-item(href="#") Last 90 days
  //    a.dropdown-item(href="#") Last 180 days
  //    a.dropdown-item(href="#") Last 360 days
  .history

    h2 Record:
    select#drop_search_days
      option(value="10") Last 10 days
      option(value="30") Last 30 days
      option(value="90") Last 90 days
      option(value="180") Last 180 days

    buttonbutton#btn_search.btn.btn-primary(type="button") Search


  table#tableHistory
    thead#tableHistoryHead
      tr
        th(scope="col") #
        th(scope="col") Start
        th(scope="col") End


  script
    include ../public/javascripts/index.js
